.margin-top-05 { margin-top: 0.5em; }
.margin-top-10 { margin-top: 1.0em; }
.margin-top-15 { margin-top: 1.5em; }
.margin-top-20 { margin-top: 2.0em; }
.margin-top-25 { margin-top: 2.5em; }
.margin-top-30 { margin-top: 3.0em; }

.margin-bot-05 { margin-bottom: 0.5em; }
.margin-bot-10 { margin-bottom: 1.0em; }
.margin-bot-15 { margin-bottom: 1.5em; }
.margin-bot-20 { margin-bottom: 2.0em; }
.margin-bot-25 { margin-bottom: 2.5em; }
.margin-bot-30 { margin-bottom: 3.0em; }

.center { margin-left: auto; margin-right: auto; }
.background-compe { background-color: #19450F !important }
.compe-text { color: #19450F; }
.white-text { color: #FFFFFF; }


@media (max-width: 419px) {
    .img-fluid { max-width: 50% !important }
}

@media (min-width: 420px) and (max-width: 719px) {
    .img-fluid { max-width: 60% !important }
}

@media (min-width: 720px) {
    .img-fluid { max-width: 40% !important }
}